version: '3.1'

networks:
  traefik_web:
    driver: "bridge"

services:
  proxy:
    image: "traefik:v2.2"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "{{ reverseproxy.path }}/rules/:/rules/"
      - "{{ reverseproxy.data }}/:/letsencrypt/"
{% if 'logs' in reverseproxy %}
      - "{{ reverseproxy.logs }}/:/logs/"
{% endif %}
      - "{{ reverseproxy.conf }}/:/etc/traefik/:ro"
    security_opt:
      - no-new-privileges:true # limit containers to gain new privileges https://docs.docker.com/engine/reference/run/#security-configuration
    labels:
      - "traefik.enable=true"
      ## global redirect to https
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.http-catchall.rule=hostregexp(`{host:.+}`)"
      - "traefik.http.routers.http-catchall.entrypoints=web"
      - "traefik.http.routers.http-catchall.middlewares=redirect-to-https"
{% if 'api' in reverseproxy %}
      - "traefik.http.routers.traefik-rtr.entrypoints=websecure"
      - "traefik.http.routers.traefik-rtr.rule=Host(`{{ reverseproxy.api }}`)"
      - "traefik.http.routers.traefik-rtr.tls=true"
      - "traefik.http.routers.traefik-rtr.tls.certresolver=mytls"
      - "traefik.http.routers.traefik-rtr.service=api@internal"
{% if 'api_user' in reverseproxy %}
      - "traefik.http.routers.traefik-rtr.middlewares=middlewares-basic-auth@file" 
{% endif %}
{% endif %}
    networks:
      - "traefik_web"

