[Unit]
Description=HTTP and HTTPS server forwarding traffic to docker containers
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory={{ reverseproxy.path }}
Restart=on-failure

# Compose up
ExecStart=/usr/bin/docker-compose up

# Compose down, remove containers and non-persistent volumes
ExecStop=/usr/bin/docker-compose down -v

[Install]
WantedBy=multi-user.target
