[global]
  checkNewVersion = false
  sendAnonymousUsage = false

[serversTransport]
  insecureSkipVerify = true

[entryPoints]
  [entryPoints.web]
    address = ":80"

  [entryPoints.websecure]
    address = ":443"

[log]
  level = "INFO"

[accessLog]
  format = "common"
  filePath = "/dev/null"

# [api]
#   dashboard = true

# [metrics]
#   [metrics.prometheus]
#     entryPoint = "traefik"
#     buckets = [0.1,0.3,1.2,5.0]
# [ping]

[providers.docker]
  network = "traefik_web"
  exposedByDefault = false
  defaultRule = "{{ reverseproxy.default_rule | default(default_rule, true) }}"

[certificatesResolvers.mytls.acme]
  email = "{{ reverseproxy.letsencrypt_email }}"
  storage = "/letsencrypt/acme.json"
  [certificatesResolvers.mytls.acme.httpChallenge]
    # used during the challenge
    entryPoint = "web"

