[global]
  checkNewVersion = false
  sendAnonymousUsage = false

[serversTransport]
  insecureSkipVerify = false

[entryPoints]
  [entryPoints.web]
    address = ":80"

  [entryPoints.websecure]
    address = ":443"

[api]
  dashboard = true

[log]
  level = "DEBUG"

[accessLog]
  format = "common"
  filePath = "/logs/traefik.log"
  bufferingSize = 100 # Configuring a buffer of 100 lines

  [accessLog.filters]
    statusCodes = ["200", "400-500"]

# [metrics]
#   [metrics.prometheus]
#     entryPoint = "traefik"
#     buckets = [0.1,0.3,1.2,5.0]
# [ping]

[providers.docker]
  network = "traefik_web"
  exposedByDefault = false
  defaultRule = "{{ reverseproxy.default_rule | default(default_rule, true) }}"

# Load dynamic configuration from one or more .toml or .yml files in a directory.
[providers.file]
  directory = "/rules"
  watch = true


[certificatesResolvers.mytls.acme]
  email = "{{ reverseproxy.letsencrypt_email }}"
  storage = "/letsencrypt/acme.json"
  [certificatesResolvers.mytls.acme.httpChallenge]
    # used during the challenge
    entryPoint = "web"

